@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_name {
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    background-color: rgb(251, 108, 56);
    position: absolute;
    z-index: 1;
    margin-left: -25px;
    margin-top: 30px;
    padding-left: 5px;
    
}
.ccd {
    margin-left: 70px;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.card {
    display: flex;
    width: 600px;
    height: 400px;
    /* flex-flow: row wrap; */
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    background-color: rgb(119, 194, 194);
    overflow: hidden;


}
.card_number {
    margin-top: 100px;
    margin-left: 50px;
}
.numbers {
    width: 300px;
    height: 35px;
    background-color: rgb(206, 244, 231);
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

.name_card {
    margin-top: 20px;
    margin-left: 50px; 
}

.blok {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    width: 315px;
    justify-content: space-between;

}


.blok_s {
    width: 70px;
    height: 35px;
    background-color: rgb(206, 244, 231);
    border-bottom: 1px solid black;
    font-size: 18px;
    padding-left: 10px;



}
.blok_s_s {
    width: 70px;
    height: 35px;
    background-color: rgb(206, 244, 231);
    border-bottom: 1px solid black;
    font-size: 18px;
    margin-left: 30px;
    padding-left: 10px;
}

.text {
    color: rgb(80, 80, 80);
    margin: 0;
    padding-bottom: 5px;
}


.icons  {
    display: flex;
    position: absolute;
    margin-left: 375px;
    margin-top: 140px;

}
.icon {
    width: 320px;
    height: 320px;
}